<h1>All ariticle</h1>
<ul id="articles">
	<% @articles.each do |article| %>
		<li>
		<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>
<br>
<%= link_to "Create new Article", new_article_path %>